<?xml version="1.0" encoding="UTF-8"?>
<yazgfs>
  <config>
    <db_scheme>mysql</db_scheme>
    <database>__DB_NAME__</database>
    <hostname>__DB_HOST__</hostname>
    <user>__DB_USER__</user>
    <pass>__DB_PASS__</pass>
    <port>3306</port>
    <biblioserver>biblios</biblioserver>
    <biblioservershadow>biblios</biblioservershadow>
    <authorityserver>authorities</authorityserver>
    <authorityservershadow>authorities</authorityservershadow>
  </config>
  < Kohaconf>
  <timezone>__TIMEZONE__</timezone>
  <enable_plugins>1</enable_plugins>
  <memcached_servers>__MEMCACHED_SERVERS__</memcached_servers>
  <memcached_namespace>__MEMCACHED_NAMESPACE__</memcached_namespace>
  <memcached_prefix>__MEMCACHED_NAMESPACE__</memcached_prefix>
  <zebra_bib_index_mode>dom</zebra_bib_index_mode>
  <zebra_auth_index_mode>dom</zebra_auth_index_mode>
  <zebra_bib_format>__ZEBRA_MARC_FORMAT__</zebra_bib_format>
  <sru_biblios_port>__SRU_BIBLIOS_PORT__</sru_biblios_port>
  <opacdir>__OPACDIR__</opacdir>
  <intranetdir>__INTRANETDIR__</intranetdir>
  <kohahome>__KOHAHOME__</kohahome>
  <upload_path>__UPLOAD_PATH__</upload_path>
  <pluginsdir>__PLUGINS_DIR__</pluginsdir>
  <tmp_path>__TMP_PATH__</tmp_path>
  <log_dir>__LOG_DIR__</log_dir>
</yazgfs>
