<?xml version="1.0" encoding="UTF-8"?>
<yazgfs>
 <config>
  <db_scheme>mysql</db_scheme>
  <database>__DB_NAME__</database>
  <hostname>__DB_HOST__</hostname>
  <port>3306</port>
  <user>__DB_USER__</user>
  <pass>__DB_PASS__</pass>
  <biblioserver>__DB_HOST__</biblioserver>
  <biblioserverport>__SRU_BIBLIOS_PORT__</biblioserverport>
  <authorityserver>__DB_HOST__</authorityserver>
  <authorityserverport>__SRU_BIBLIOS_PORT__</authorityserverport>
  <intranetdir>__INTRANETDIR__</intranetdir>
  <opacdir>__OPACDIR__</opacdir>
  <opachtdocs>__OPACDIR__/htdocs</opachtdocs>
  <intrahtdocs>__INTRANETDIR__/intranet/htdocs</intrahtdocs>
  <includes>__INTRANETDIR__/intranet/htdocs/intranet-tmpl/prog/includes</includes>
  <logdir>/var/log/koha/__KOHASITE__</logdir>
  <docdir>__INTRANETDIR__/docs</docdir>
  <kohahome>__KOHAHOME__</kohahome>
  <plugin_dirs>/var/lib/koha/__KOHASITE__/plugins</plugin_dirs>
  <timezone>__TIMEZONE__</timezone>
  <enable_plugins>1</enable_plugins>
  <memcached_servers>localhost:11211</memcached_servers>
  <memcached_namespace>KOHA:__KOHASITE__:</memcached_namespace>
  <zebra_bib_index_mode>dom</zebra_bib_index_mode>
  <zebra_auth_index_mode>dom</zebra_auth_index_mode>
  <zebra_marc_format>__ZEBRA_MARC_FORMAT__</zebra_marc_format>
  <use_zebra_facets>1</use_zebra_facets>
  <query_parser_config>/etc/koha/searchengine/queryparser.yaml</query_parser_config>
  <searchengine>Elasticsearch</searchengine>
  <elasticsearch>
    <server>http://elasticsearch:9200</server>
    <index_name>koha___KOHASITE__</index_name>
  </elasticsearch>
  <sru_server>
    <default>biblios</default>
  </sru_server>
 </config>
</yazgfs>
